@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lekton&display=swap');
:root {
    --barra: #2b2c63;
    --body: #252653;
    --banda1: #7F00B2;
    --banda2: #8E22BB;
    --banda3: #AB49CC;
    --banda4: #1280D8;
    --banda5: #4CA1F5;
    --blanco: white;
    --shadow: rgb(240, 47, 137);
    --background-celu: rgb(40, 2, 71);
}

body {
    font-family: 'Major mono display';
    background-color: var(--body);
}

a {
    text-decoration: none;
    color: var(--blanco);
}

.container {
    width: 100%;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: auto;
}

.decoration {
    margin-top: 25px;
    width: 100%;
    z-index: 4;
}

.banda1 {
    background-color: #7F00B2;
    margin-top: 10px;
    margin-right: 100px;
    color: #7F00B2;
}

.banda2 {
    background-color: #8E22BB;
    margin-top: 10px;
    margin-right: 200px;
    color: #8E22BB;
}

.banda3 {
    background-color: #AB49CC;
    margin-top: 10px;
    margin-right: 350px;
    color: #AB49CC;
}

.banda4 {
    background-color: #1280D8;
    margin-top: 10px;
    margin-left: 300px;
    color: #1280D8;
}

.banda5 {
    background-color: #4CA1F5;
    margin-top: 10px;
    margin-left: 363px;
    color: #4CA1F5;
}

.content {
    background: linear-gradient(180deg, rgba(59, 0, 82, 0.56) 0%, rgba(127, 0, 178, 0.390833) 46.35%, rgba(127, 0, 178, 0) 100%);
    margin: 20px 30px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
    height: 70vh;
}

.text {
    font-family: 'Lekton', sans-serif;
    color: white;
    font-family: Lekton;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
}

.toca {
    background: #1280D8;
    border: 1px solid #FEFBFE;
    box-sizing: border-box;
    color: white;
    font-family: Lekton;
    font-size: 22px;
    width: 585px;
    text-align: start;
}

.instrumento {
    width: 100%;
    height: 40rem;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: auto;
}

.tep {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 5%;
}

.base {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#3b0152, #45a0fa);
    /*position: absolute;
    background: conic-gradient(from 180deg at 50% 50%, #00b218 0deg, rgba(127, 0, 178, 0.796875) 0.04deg, rgba(127, 0, 178, 0) 360deg);
    border: 1px solid #ffffff;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(247, 242, 242, 0.25));
    width: 90%;
    height: 45%;
    margin-top: 15%;
    margin-left: 4%;*/
}

.piano {
    display: flex;
    position: relative;
    margin-left: 4px;
}

.white-key {
    width: 40px;
    height: 120px;
    background-color: #fff;
    border: 4px solid black;
    border-radius: 0 0 3px 3px;
    margin-left: -4px;
    outline: none;
    cursor: pointer;
}

.white-key:hover {
    background-color: rgb(74, 3, 133);
    color: white;
}

.black-key {
    position: absolute;
    width: 24px;
    height: 80px;
    background-image: linear-gradient(#7F00B2, #8E22BB, #AB49CC, #1280D8, #4CA1F5);
    border: 3px solid black;
    outline: none;
    cursor: pointer;
}

.REb4 {
    left: 22px;
}

.MIb4 {
    left: 58px;
}

.SOLb4 {
    left: 130px;
}

.LAb4 {
    left: 166px;
}

.SIb4 {
    left: 202px;
}

.REb5 {
    left: 274px;
}

.MIb5 {
    left: 310px;
}


/*.rectangulo {
    background: conic-gradient(from 180deg at 50% 50%, #7F00B2 0deg, rgba(127, 0, 178, 0.796875) 0.04deg, rgba(127, 0, 178, 0) 360deg);
    border: 1px solid #DF0A7D;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 5rem 6rem;
    width: 80%;
    height: 400px;
    z-index: 50;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}*/

@media (max-width: 640px) {
    .content {
        background: linear-gradient(180deg, rgba(59, 0, 82, 0.56) 0%, rgba(127, 0, 178, 0.390833) 46.35%, rgba(127, 0, 178, 0) 100%);
        padding: 70px 5px;
        margin: 20px 10px;
    }
    .text {
        font-family: 'Lekton', sans-serif;
        color: white;
        font-family: Lekton;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 36px;
        width: 100%;
        height: 70%;
    }
    .toca {
        background: #1280D8;
        border: 1px solid #FEFBFE;
        box-sizing: border-box;
        color: white;
        font-family: Lekton;
        font-size: 22px;
        width: 585px;
        text-align: start;
    }
    .base {
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(#3b0152, #45a0fa);
        /*position: absolute;
        background: conic-gradient(from 180deg at 50% 50%, #00b218 0deg, rgba(127, 0, 178, 0.796875) 0.04deg, rgba(127, 0, 178, 0) 360deg);
        border: 1px solid #ffffff;
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(247, 242, 242, 0.25));
        width: 90%;
        height: 45%;
        margin-top: 15%;
        margin-left: 4%;*/
    }
}